[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
geopandas = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
pylint = "*"
yapf = "*"
build = "*"
setuptools = "*"
twine = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.9"
