[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"

[dev-packages]
ipython = "*"
pylint = "*"
yapf = "*"
jupyterlab = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3.8"
